<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FOREIGN IMPORTS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LOCAL IMPORTS -->
    <script src="/javascripts/index.js"></script>
    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">


<script>
            $(function () {
                $('#search-query').focusin(function () {
                    $('form').css('border', '4px solid gray');
                });
                $('#search-query').focusout(function () {
                    $('form').css('border', '');
                });
            });
    </script>

    
    <title>Libgen Desktop</title>
</head>
<body>
    <div id="main">
        <%- include('navbar.ejs') %>
        <div id="content" class="columns">
            <div id="logo-wrapper">
                <h1 id="logo">ἀλήθεια</h1>
            </div>
            <div id="search-wrapper">
                <form action='/search' name='search' method="POST">
                    <input type="text" name="query" id="search-query" placeholder="Search for books...">
                    <button id='search-btn'><i class="fa fa-search"></i></button>
                    <select class="input is-normal" name="column">
                        <option value="def" selected>Default</option>
                        <option value="title">Title</option>
                        <option value="author">Authors</option>
                        <option value="identifier">ISBN</option>
                    </select>
                </form>
            </div>
        </div>


    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
</body>
</html>