<div id="nav" class="draggable">
    <ul>
        <a href='/search/'><li><i class="fa fa-2x fa-search" aria-hidden="true"></i></li></a>
        <a href='/library'><li><i class="fa fa-2x fa-book" aria-hidden="true"></i></li></a>
        <a href='/settings'><li><i class="fa fa-2x fa-cog" aria-hidden="true"></i></li></a>
        <a href="https://github.com/onurhanak/Aletheia-Desktop" target="_blank"><li><i class='fa fa-2x fa-github' aria-hidden='true'></i></li></a>
    </ul>
</div>