<div id="nav">
    <ul>
        <a href='/search/'><li><i class="fa fa-2x fa-search" aria-hidden="true"></i></li></a>
        <a href='/library'><li><i class="fa fa-2x fa-book" aria-hidden="true"></i></li></a>
        <a href='/settings'><li><i class="fa fa-2x fa-cog" aria-hidden="true"></i></li></a>
    </ul>
</div>