<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FOREIGN IMPORTS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- LOCAL IMPORTS -->
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/settings.js"></script>
    <link rel="stylesheet" href="/stylesheets/settings.css" type="text/css">

    <script>
        var saved = "<%= saved %>"
        if (saved == 'saved') {
            notification('settingsSaved')
        }
    </script>

    <script>
        var theme = "<%= theme %>"
        var mirror = "<%= mirror %>"
    </script>

    <title>Libgen Desktop</title>

</head>

<body>
    <div id="main">
        <%- include('navbar.ejs') %>
            <div id="content">
                <form action='' method="POST">
                    <!--<label for="mirrors">Libgen Mirror: </label>
                    <select class="input is-normal" name="mirrors">
                        <option id='libgen.is' value="libgen.is">libgen.is</option>
                        <option id='gen.lib.rus.ec' value="gen.lib.rus.ec">gen.lib.rus.ec</option> 
                    </select> -->
                    <label for="theme">Theme: </label>
                    <select class="input is-normal" name="theme">
                        <option id="dark" value="dark">Dark</option>
                        <option id='light' value="light">Light</option>
                    </select>
                    <input type="submit" class="button is-primary" value="Save">
                </form>
            </div>


    </div>

</body>

</html>