@import 'navbar.css';

#content {
    padding:0;
    margin:0;
    height:100%;
    width:95%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7vh;
}

#logo-wrapper, #search-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display:flex;
    gap:1vw;
    width:30%;
    background-color:white;
    border-radius: 8px;
}

#logo {
    height:18vh;
    width:auto;
}

#search-wrapper {
    width: 100%;
    position: relative;
    display: flex;
}

#search-query {
    width: 100%;
    height:4vh;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 2vh;
    padding: 5px;
}

#search-query:focus ~ form {
    border:4px solid gray;
}

#search-btn {
    width: 3vw;
    height: 4vh;
    text-align: center;
    color: var(--dark-color);
    cursor: pointer;
    font-size: 2vh;
    background-color: transparent;
    border:none;
    padding-right:5px;
}
