@import 'theme-dark.css';
@import 'navbar.css';
@import 'common.css';

#content {
    display:flex;
    flex-direction: column;
    margin: 0 0 0 3.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:3vh;
    padding-bottom: 3vh;
    width:100%;
    gap:4vh
}

header {
    color: var(--library-header-color);
    font-size:3vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:10%;
    gap:2vh;
}

header input {
    width: 30%;
    height:4vh;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 2vh;
    padding: 5px;
}

#library {
    padding:0;
    margin:0;
    margin-left:5%;
    height:90vh;
    flex-wrap:wrap;
    width:95%;
    display:flex;
    gap: 2vh;
    overflow:auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bookcover, .cover-img {
    max-height:100%;
    max-width: 7vw;
    height: 100%;
    width:7vw;
}

#results-wrapper {
    height:90vh;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3vh;
    overflow-x:hidden;
    overflow-y: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;

}

.result-card {
    display:flex;
    background-color: var(--result-card-background-color);
    width:40%;
    height:18vh;
    border-radius: 10px;
    gap:1vw
}

.details-wrapper {
    display:flex;
    width:100%;
    height:100%;
}

.book-details {
    display:flex;
    flex-direction: column;
    width:90%;
    height:100%;
    justify-content: center;
    font-size:1.5vh;
    overflow-y: auto;
}

.open-wrapper i {
    color:var(--download-button-color) !important;
    cursor:pointer;
}

.open-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:10%;
    background-color: var(--download-wrapper-background);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width:50px;
    gap: 3vh;
}

.bookcover, .cover-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cover {
    height:100%;
    width:7vw;
    min-width:7vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
}

.bold {
    font-weight: bold;
}

.book-detail {
    font-family: sans-serif;
}

#noBooks {
    color: var(--noBooks-color);
    font-size:2.5vh;
    font-family:sans-serif;
   
}