#nav, #nav ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:fixed;
}

#nav {
    width:3.5vw;
    height:100%;
    background-color: var(--navbar-background-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /*-webkit-app-region: drag*/
}

ul {
    height: 100%;
    width:3.5vw;
    background-color: transparent;
    gap:5rem;
}

li {
    list-style: none;
    height: 60px;
    width: 3.5vw;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color:var(--navbar-item-color);
    /*-webkit-app-region: no-drag*/
}

ul a {
    color: var(--navbar-item-color);
}

li:hover {
    background-color: var(--navbar-item-background-color-hover);
    color: var(--navbar-item-color-hover);
    /*-webkit-app-region: no-drag*/
}