@import 'navbar.css';

#content {
    padding:0;
    margin:0;
    height:100%;
    width:95%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:3vh;
}

form {
    height:100%;
    width:50%;
    padding-left:5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:var(--light-color);
    font-size:3vh;
    gap:2vh;
}