:root {
    --navbar-background-color: #1d1d1d;
    --navbar-item-color: #fff;
    --navbar-item-color-hover: #1d1d1d;
    --navbar-item-background-color-hover: #fff;
    --main-background-color: rgb(216, 216, 216);
    --form-background-color:#fff;
    --text-color-dark:#1d1d1d;
    --text-color-light:#fff;
    --background-color-searchbar: #fff;
    --result-card-background-color: #fff;
    --download-wrapper-background: rgb(47, 136, 158);
    --download-button-color: #fff;
    --cover-background-color: #000;
    --border-color-searchbar-focus: gray;
    --settings-label-color:white;
    --settings-save-button-color: white;
    --settings-save-button-background-color: rgb(47, 136, 158);
    --library-header-color: #1d1d1d;
}